{% extends "layout.html" %}

{% block title %}Produits - Taajr{% endblock %}

{% block content %}

<h1>Ajouter un Nouveau Produit</h1>

    <form method="POST" action="/Ajouterproduits">
        <div>
            <label for="nom_produit">Nom du produit :</label>
            <input type="text" id="nom_produit" name="nom_produit" type="text" required>
        </div>

        <div>
            <label for="description_produit">Description :</label>
            <textarea id="description_produit" name="description_produit" type="text" required></textarea>
        </div>

        <div>
            <label for="quantite_stock">Quantité en stock :</label>
            <input type="number" id="quantite_stock" name="quantite_stock" type="number" required>
        </div>

        <div>
            <label for="prix_produit">Prix :</label>
            <input type="number" id="prix_produit" name="prix_produit" type="number" required>
        </div>
        <div>
            <label for="image_produit">Image du produit :</label>
            <input type="file" id="image_produit" name="image_produit" accept="image/*">
        </div>

        <div>
            <button type="submit">Ajouter le produit</button>
        </div>
    </form>

    <p><a href="/liste_produits">Retour à la liste des produits</a></p>

{% endblock %}