{% extends "layout.html" %}

{% block title %}Catégories - Taajr{% endblock %}

{% block content %}
<div class="row">
    {% for category in categories %}
    <div class="col-md-4">
        <div class="card mb-4">
            <a href="{{ url_for('category_offers', category_id=category.ID_cat) }}">
                <img src="/static/{{ category.image }}" class="card-img-top" alt="Image de Categorie">
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ url_for('category_offers', category_id=category.ID_cat) }}">{{ category.nom_cat }}</a>
                </h5>
                <p class="card-text">{{ category.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

