{% extends "layout.html" %}

{% block title %}Services - Taajr{% endblock %}

{% block content %}
    <div class="product-container">
        <div class="row">
            {% for service in services %}
            <div class="col-md-3">
                <div class="card product-card">
                    <div class="card-img-top">Image à ajouter plus tard</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ service.libelle_off }}</h5>
                        <p class="card-text">{{ service.description_off }}</p>
                        <p class="rating">⭐⭐⭐☆☆ ({{ service.reviews_count }} avis)</p>
                        <p class="card-text fw-bold">Prix : {{ service.prix_off }}fdj</p>
                        <button class="btn btn-primary">Ajouter au panier</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


