{% extends "layout.html" %}

{% block title %}Détails du Produit - Taajr{% endblock %}

{% block content %}
<div class="card">
    {% if produit.image_off %}
    <img src="/static/{{ produit.image_off }}" class="card-img-top" alt="Image du Produit">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ produit.libelle_off }}</h5>
        <p class="card-text">{{ produit.description_off }}</p>
        <p class="card-text"><strong>Prix :</strong> {{ produit.prix_off }} fdj</p>
        <p class="card-text"><strong>Quantité en stock :</strong> {{ produit.quantite_en_stock }}</p>
        <a href="{{ url_for('Produits') }}" class="btn btn-primary">Retour aux produits</a>
    </div>
</div>

<h3>Commentaires</h3>
<ul>
    {% for avis in avis %}
    <li>
        <strong>{{ avis.user_name }}</strong>: {{ avis.commentaire }} 
        <em>({{ avis.date }})</em>
    </li>
    {% endfor %}
</ul>

{% if session.get('user_name') %}
<h4>Ajouter un commentaire</h4>
<form method="POST">
    <div class="form-group">
        <textarea name="commentaire" rows="4" class="form-control" placeholder="Votre commentaire..." required></textarea>
    </div>
    <button type="submit" class="btn btn-success">Envoyer</button>
</form>
{% else %}
<p><em>Connectez-vous pour ajouter un commentaire.</em></p>
{% endif %}


{% endblock %}